/* Media Queries */

/* Mobile devices */
@media only screen and (max-width:688px) {
    .container-1{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 10px;
    }
}